<%- include('./partials/head') %>
<%- include('./partials/header') %>
<body>
    <h1> Catalogo de zapatos:</h1>
    <ul>
        <%
        for(let i=0;i<catalogoZapatos.length;i++){ %>
            <li> 
                <img src='/<%= catalogoZapatos[i].imagen %>'>
                <h3> Modelo: <%= catalogoZapatos[i].modelo%> </h3>
                <a href="details.ejs"> Ver más</a> 
            </li>
        <%}%>
    </ul>
</body>
<%- include('./partials/footer')%>
</html>