<%- include('./partials/head') %>
<%- include('./partials/header') %>
<body>
    <h3> Modelo: <%= catalogoZapatos[i].modelo%> </h3>
    <ul>
        <%
        for(let i=0;i<catalogoZapatos.length;i++){ %>
            <li> 
                <img src='/<%= catalogoZapatos[i].imagen %>'>
                <p> Marca:  <%= catalogoZapatos[i].marca%> </p>
                <p> Talle:  <%= catalogoZapatos[i].talle%> </p>
                <p> Marca:  <%= catalogoZapatos[i].marca%> </p>
        talle: 40,
        cantidadEnStock: 5,
        color: 'blanco',
        sexo: "masculino",

            </li>
        <%}%>
    </ul>
</body>
</html>