<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3> Modelo: <%= catalogoZapatos[i].modelo%> </h3>
    <ul>
        <%
        for(let i=0;i<catalogoZapatos.length;i++){ %>
            <li> 
                <img src='/<%= catalogoZapatos[i].imagen %>'>
                <p> Marca:  <%= catalogoZapatos[i].marca%> </p>
                <p> Talle:  <%= catalogoZapatos[i].talle%> </p>
                <p> Marca:  <%= catalogoZapatos[i].marca%> </p>
        talle: 40,
        cantidadEnStock: 5,
        color: 'blanco',
        sexo: "masculino",

            </li>
        <%}%>
    </ul>
</body>
</html>