<!-- <!DOCTYPE html>
<html lang="'es"> -->
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
	<div class="banner">
		<img class="img_banner" src="images/fondo_zapatillas4.png" alt="Banner de ofertas">
	</div>

	<div class="container products-wrapper">
        <div class="col-12">
            <h2 class="products-title">Novedades</h2>
        </div>
		<div class="row">
                <%
                for(let i=0;i<catalogoZapatos.productos.length;i++){ %>
                    <div class="col-md-4 col-sm-4 col-lg-3">

                <section class="product-box">
                    <a href="/zapatos/<%= catalogoZapatos.productos[i].id%>">
                        <figure class="product-box_image">
                            <img src='/<%=catalogoZapatos.productos[i].imagen %>' alt='/<%= catalogoZapatos.productos[i].nombre%>'>
                        </figure>
                        <article class="product-box_data">
                            <h2> <%= catalogoZapatos.productos[i].nombre%> </h2>
                            <p> Descripción: <%= catalogoZapatos.productos[i].descripcion%> </p>
                            <p> Comentarios: </p>
                            <%
                            for(let j=0;j<catalogoZapatos.productos[i].comentarios.length;j++){ %>
                            <img class='fotocomentarios' src="<%=catalogoZapatos.productos[i].comentarios[j].imagen%>">
                            <h3> <%=catalogoZapatos.productos[i].comentarios[j].nombre%> </h3>
                            <p><%= catalogoZapatos.productos[i].comentarios[j].texto%> </p>
                            <%}%>
                            
                        </article>
                    </a>
				</section>
            </div>
                <%}%>
	       
        </div>
    </div>

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			
            
            <%
                for(let i=0;i<catalogoZapatos.productos.length;i++){ %>
                    <div class="col-md-4 col-sm-4 col-lg-3">

                <section class="product-box">
                    <a href="/zapatos/<%= catalogoZapatos.productos[i].id%>">
                        <figure class="product-box_image">
                            <img src='/<%=catalogoZapatos.productos[i].imagen %>' alt='/<%= catalogoZapatos.productos[i].nombre%>'>
                        </figure>
                        <article class="product-box_data">
                            <h2> <%= catalogoZapatos.productos[i].nombre%> </h2>
                            <p> Descripción: <%= catalogoZapatos.productos[i].descripcion%> </p>
                            <%
                            for(let j=0;j<catalogoZapatos.productos[i].comentarios.length;j++){ %>
                            <img class='fotocomentarios' src="<%=catalogoZapatos.productos[i].comentarios[j].imagen%>">
                            <h3> <%=catalogoZapatos.productos[i].comentarios[j].nombre%> </h3>
                            <p>Comentarios: <%= catalogoZapatos.productos[i].comentarios[j].texto%> </p>
                            <%}%>
                            
                        </article>
                    </a>
				</section>
            </div>
                <%}%>
	        </div>
        </div>
    </div>
    <%- include('./partials/footer')%>
</body>


