<!-- <!DOCTYPE html>
<html lang="'es"> -->
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
	<div class="banner">
		<img class="img_banner" src="images/fondo_zapatillas4.png" alt="Banner de ofertas">
	</div>

	<div class="container products-wrapper">
        <div class="col-12">
            <h2 class="products-title">Novedades</h2>
        </div>
		<div class="row">
                <%for(let i=0;i<catalogoZapatos.length;i++){ %>
                    <div class="col-md-4 col-sm-4 col-lg-3">

                        <section class="product-box">
                            <a href="/zapatos/product/<%= catalogoZapatos[i].id%>">
                                <figure class="product-box_image">
                                    <img src='/<%=catalogoZapatos[i].imagen %>' alt='/<%= catalogoZapatos[i].nombre_producto%>'>
                                </figure>
                                <article class="product-box_data">
                                    <h2> <%= catalogoZapatos[i].nombre_producto%> </h2>
                                    <p> Descripción: <%= catalogoZapatos[i].descripcion%> </p>
                                    <!-- faltan los comentarios -->
                                </article>
                            </a>
                        </section>
                    </div>
                <%}%>
	       
        </div>
    </div>

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			
            
            <%for(let i=1;i<catalogoZapatos.length;i++){ %>
                <div class="col-md-4 col-sm-4 col-lg-3">

                    <section class="product-box">
                        <a href="/zapatos/<%= catalogoZapatos[i].id%>">
                            <figure class="product-box_image">
                                <img src='/<%=catalogoZapatos[i].imagen %>' alt='/<%= catalogoZapatos[i].nombre_producto%>'>
                            </figure>
                            <article class="product-box_data">
                                <h2> <%= catalogoZapatos[i].nombre_producto%> </h2>
                                <p> Descripción: <%= catalogoZapatos[i].descripcion%> </p>
                                <h3> Cargado por:<%= catalogoZapatos[i].user.nombre%></h3>
                                <!-- faltan los comentarios -->
                            </article>
                        </a>
                    </section>
                </div>
            <%}%>
	        </div>
        </div>
    </div>
    <%- include('./partials/footer')%>
</body>


