
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <!-- product detail -->
	<div class="container products-wrapper">
			<div class="d-flex align-items-center">
                <h2 class="products-title"><%= producto.nombre %> </h2> 
				<%if(usuarioLogueado){%>
					<%if(user.nombre == producto.user.nombre && user.email== producto.user.email){%>
						<p class="product-detail-description">
							<a href="/zapatos/product-edit/<%= producto.id %>">Editar</a> 
						</p>
					<%}%>
				<%}%>
		    </div>

            <div class="product-detail">
		
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/<%= producto.imagen %>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= producto.descripcion %> 
					</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="/<%=producto.user.foto_de_perfil%>" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/users/profile/<%=producto.user.id%>">Cargado por: <%= producto.user.nombre %></a> </strong>
								</p>

								<h3> Comentarios:</h3>
								<ul>
									<%for(let j=0;j<producto.comentario.length;j++){ %>
										<li> 
											<img  class='fotocomentarios' src="<%=producto.comentario[j].user.foto_de_perfil%>">
											<h3><a href="/users/profile/ <%=producto.comentario[j].user.id%>"> <%=producto.comentario[j].user.nombre%></a>:</h3>
											<p> <%=producto.comentario[j].comentario%> </p>
										</li>
									<%}%>
								</ul>
								<%if (usuarioLogueado){%> 
									<form class="form" action="/zapatos/addComment" method="post">
										<input class="form-input" name="comentario" type="text" value="" placeholder="Agregar comentario">
										<input hidden name="id_post" type="text" value="<%=producto.id %>" > 
										<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
									</form>
								<% }else{ %>
										<form class="form" action="/users/login" method="post">
											<input class="form-input" type="text" value="" placeholder="Agregar comentario">
											<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
										</form>
								<% } %> 
					        </div>
						</article>
					 </section>
					
						

				</div>
			</div>
		</div>
	</div>
	
	

<%- include('./partials/footer')%>
</body>	
</html>

