<%- include('./partials/head') %>
<body>
	<%- include('./partials/header') %>

	<!-- Datos del usuario -->
	<%if(usuarioLogueado){%>
	<section class="info-usuario container products-wrapper section_usuario">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src= "<%= usuario.foto_de_perfil %>" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6 container_grande">
				<div class="d-flex align-items-center container_usuario">
					<h3 class="main-title"><a href="/users/profile/<%= usuarioId%>"> <%= usuario.nombre%></a></h3>
					<p class="perfil_mail"> <%= usuario.email%></p>
					<!-- <a class="btn mt-3 ml-4 seguir" href="">SEGUIR</a> -->
					<%if(usuarioLogueado && user.email== usuario.email){%>
					<p class="link_usuario"><a class="a_usuario" href="/users/profile-edit/<%= usuarioId%>"> Editar mi perfil</a></p>
					<%}%>
				</div>
			</div>
		</div>
	</section>

	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div>
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>

			<div class="col-md-4 col-sm-4 col-lg-3">
				<ul class="">
					<%if(usuario.producto.length>0){%>
					<li><h3>Productos cargados: <%=usuario.producto.length%></h3></li>
					<%}else{%>
						<h3>No tiene productos cargados</h3>
					<%}%>
				</ul>
			</div>
			<!-- Show mis productos -->
			
			<div class="containerProductos">
			<%for(let i=0; i< producto.length; i++){ %>
            <div class="col-md-4 col-sm-4 col-lg-3">

                <section class="product-box">
                    <a href="/zapatos/product/<%= producto[i].id %>">
                        <figure class="product-box_image">
                            <img src='/<%= producto[i].imagen %>' alt='/<%= producto[i].nombre_producto%>'>
                        </figure>
                        <article class="product-box_data">
                            <h2> <%= producto[i].nombre_producto%> </h2>
                            <p> Descripción: <%= producto[i].descripcion%> </p>
							<h3> Comentarios:</h3>
								<ul>
									<%for(let j=0;j<comentario.length;j++){ %>
										<li> 
											<img  class='fotocomentarios' src="/<%=comentario[j].user.foto_de_perfil%>">
											<h3><a href="/users/profile/ <%=comentario[j].user.id%>"> <%=comentario[j].user.nombre%></a>:</h3>
											<p> <%=comentario[j].comentario%> </p>
										</li>
									<%}%>
								</ul>
                            
                        </article>
                    </a>
				</section>
            </div>
            <%}%>
			</div>
		</div>
	</div>
	<%}else{%>
		<h2 class="h2_nologueado"> Tiene que estar logueado para ver su perfil</h2>
	<%}%>
	
	<%- include('./partials/footer')%>
</body>	
</html>


