<%- include('./partials/head') %>
<body>
	<%- include('./partials/header') %>
	<!-- Novedades -->
	<div class="container products-wrapper primer_div">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title h2_search">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
            <%if (resultadosDeBusqueda){%>
            <h2 class="texto resultados_busqueda">Estos son los resultados para su búsqueda: <%=busquedaDelUsuario%></h2>
            <section class="section_resultados section_1">
                <%for (let i=0; i<resultados.length; i++){%>
                    <div class="contenedor usuarios">
                        <a class="link_usuario" href="/users/profile/<%= resultados[i].id%>">
                        <figure class="product-box_image">
                            <div class="searchdiv-img">
                                <img class="imgsearch" src='/<%=resultados[i].imagen %>' alt='/<%= resultados[i].nombre%>'>
                            </div>              
                        </figure> 
                        <article class="articulo_usuario">
                            <h2 class="nombre_usuario"> <%= resultados[i].nombre%> </h2>
                        </article>
                        </a>
                    </div>
                <%}%>
			</section>
            <%}else{%>
                <h2 class="texto resultados_busqueda">No hay resultados para el usuario que busca</h2>
            <%}%> 
        </div>
    </div>

	<%- include('./partials/footer')%>
</body>
</html>
