<%- include('./partials/head') %>
<body>
	<%- include('./partials/header') %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">  
                <section class="product-box search">
                        <figure class="product-box_image">
                            <img class="imgsearch" src='/<%=catalogoZapatos.productos[2].imagen %>' alt='/<%= catalogoZapatos.productos[2].nombre%>'>
                        </figure>
                        <article class="product-box_data">
                            <h2> <%= catalogoZapatos.productos[2].nombre%> </h2>
                            <p> Descripción: <%= catalogoZapatos.productos[2].descripcion%> </p>
                            <%
                            for(let i=0;i<catalogoZapatos.productos[2].comentarios.length;i++){ %>
                            <p>Comentarios: <%= catalogoZapatos.productos[2].comentarios[i].texto%> </p>
                            <%}%>
                            
                        </article>
				</section>
            </h2>
        </div>
    </div>

	<%- include('./partials/footer')%>
</body>
</html>

