<%- include('./partials/head') %>
<body>
	<%- include('./partials/header') %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
            <%if (resultadosDeBusqueda){%>
            <section class="product-box search">
                <h2>Estos son los resultados para su busqueda: <%=busquedaDelUsuario%></h2>
                <%for (let i=0; i<resultadosDeBusqueda.length; i++){%>
                    <figure class="product-box_image">
                        <div class="searchdiv-img">
                            <img class="imgsearch" src='/<%=resultadosDeBusqueda[i].imagen %>' alt='/<%= catalogoZapatos.productos[2].nombre%>'>
                        </div>
                                
                    </figure> 
                    <article class="product-box_data">
                        <h2> <%= resultadosDeBusqueda[i].nombre%> </h2>
                            <p> Descripción: <%= resultadosDeBusqueda[i].descripcion%> </p>
                            <p> Comentarios:</p>
                            <%
                            for(let j=0;j<resultadosDeBusqueda[i].comentarios.length;i++){ %>
                                <img  class='fotocomentarios' src="/<%=resultadosDeBusqueda[i].comentarios[j].imagen%>">
                                <h3> <%=resultadosDeBusqueda[i].comentarios[j].nombre%> </h3>
                                <p> <%= resultadosDeBusqueda[i].comentarios[j].texto%> </p>
                            <%}%>
                    </article>
                <%}%>
			</section>
            <%}else{%>
                <h2>No hay resultados para su criterio de búsqueda</h2>
            <%}%> 
        </div>
    </div>

	<%- include('./partials/footer')%>
</body>
</html>

