<%- include('./partials/head') %>
<body>
	<%- include('./partials/header') %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
		    <% for(let i=0;i<catalogoZapatos.productos.length;i++){%>
				<% if(catalogoZapatos.productos[i].nombre === nombre){ %>
					  <img src='/<%=catalogoZapatos.productos[i].imagen %>' alt='/<%= catalogoZapatos.productos[i].nombre%>'>
				<%} else{%>
					<h3> No tenemos el producto que buscas </h3>


				<%}%>

			<%} %>
			</h2>
	<%- include('./partials/footer')%>
</body>

